@model AmbasadadotNET.Models.Prijava

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prijava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vrijemePrijave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrijemePrijave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stanjePrijave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stanjePrijave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
