@model AmbasadadotNET.Models.Podnosilac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Podnosilac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jmbg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jmbg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dodatneInformacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dodatneInformacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mjestoPrebivalista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mjestoPrebivalista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
