@model IEnumerable<AmbasadadotNET.Models.Podnosilac>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jmbg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dodatneInformacije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mjestoPrebivalista)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jmbg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dodatneInformacije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mjestoPrebivalista)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
